.indie-flower-regular {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}


.playpen-sans {
  font-family: "Playpen Sans", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}
